@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
body{font-family: 'Inter', sans-serif;font-size: 16px;}
a{color: #fff;text-decoration: none;}
header{padding: 0;}
header .logo{color:#ffffff;}
details.dropdown>summary:not([role]){background-color: transparent;color:#ffffff;padding: 13px 0!important;}
details.dropdown>summary:not([role]):active, details.dropdown>summary:not([role]):focus {border-color: transparent;background-color: transparent;}